.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 450px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal input,
.modal textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.upload-box {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  color: gray;
}

.upload-box:hover {
  border-color: #2b7cff;
}

.modal-buttons {
  display: flex;
  gap: 10px;
}

.cancel-btn {
  background: #eee;
  border: none;
  padding: 10px;
  border-radius: 6px;
}
