
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}
.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
/* LEFT SECTION */
.left {
  flex: 1;
  padding: 40px;
}
.logo {
  color: #2e7d32;
}
.left h1 {
  font-size: 32px;
}
.left p {
  color: #555;
  margin-bottom: 30px;
}
.features {
  display: flex;
  gap: 30px;
}
.features h4 {
  margin-bottom: 5px;
}
/* RIGHT SECTION */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
}
.card {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.tabs {
  display: flex;
  margin-bottom: 20px;
}
.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: #eee;
  cursor: pointer;
}
.tabs .active {
  background: #2e7d32;
  color: white;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.main-btn {
  width: 100%;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.title {
  margin-bottom: 5px;
}
.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}
.label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}
/* Tabs styling */
.active-tab {
  background: white;
  border-bottom: 2px solid #1976d2;
  font-weight: bold;
}
.inactive-tab {
  background: #eee;
}
/* Features text */
.features p {
  font-size: 13px;
  color: #666;
}
.select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.eye-icon{
  cursor: pointer;
}