.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #f8f9fa;
  padding: 20px;
}

.logo {
  color: green;
}

.menu p {
  padding: 10px;
  cursor: pointer;
}

.menu p:hover {
  background: #e0e0e0;
}

/* Main */
.main {
  flex: 1;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: white;
}

.search {
  width: 300px;
}

/* Content */
.content {
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 500px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

